
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.highlight {
    background-color: #DA5019;
}

.rotation {
    background-color: #EDA184;
}

.off {
    background-color: #F9DFD5;
    color: #AAAAAA;
}

ul {
    width: 600px;
    height: 600px;
    margin: 30px auto;
    list-style: none;
    border: solid 3px #000000;
    padding: 0;
    box-sizing: border-box;
}

li {
    float: left;
    width: 25%;
    height: 25%;
    border: solid 1px #000000;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
    line-height: 150px;
    }

.btn {
    width: 600px;
    margin: 10px auto;
    clear: both;
    text-align: center;
}
